 <header>
<!-- <h2>SHOP!</h2> -->
<img class="shoplogo" src="sox/images/supersox.png" alt="">


 </header>

<div class="clientsox">
<article>
  <div class="soxx"  ng-repeat="sox in clientCtrl.supersox"><a href="#/detail/{{sox._id}}">
    <p>  {{sox.name}}</p>
      <img ng-src="{{ sox.photo}}" alt="">
    <p>  Price: {{sox.price | currency}} </p>
  </a>
    <button ng-click="clientCtrl.buySuperSox(sox)">Buy </button>
    <!--   <button ng-click="mainCtrl.editSuperHero(hero)">Edit Hero</button> -->
  </div>
</article>
</div>


<div class="clientnav">
  <ul>
  <li><a href="#/splash">Home</a></li>
  <li><a href="#/client">Shop</a></li>
  <li><a href="#/admin">Admin</a></li>
  <li><a href="#/about">About</a></li>
  </ul>
  <div class="numSox" ng-controller="ClientController as clientCtrl">
    {{ clientCtrl.numSoxInCart}}
  </div>

  <a href="#/shopcart"><img class="cart" src="sox/images/shopcart.png" alt=""></a>

</div>



</div>
<footer>

</footer>
