<!-- <div class="frontpage"> -->

  <!-- <h1> SUPER SOX </h1>
   -->
<header>

  <!-- <button ng-click="mainCtrl.alertMe()">Buy Sox!!!</button>
   -->

 </header>

 <img class="logo" src="sox/images/supersox.png" alt="">

<img class="frontsox" src="sox/images/colorsox.jpg" alt="">
<div class="frontnav">
  <ul>
  <li><a href="#/splash">Home</a></li>
  <li><a href="#/client">Shop</a></li>
  <li><a href="#/admin">Admin</a></li>
  <li><a href="#/about">About</a></li>
  </ul>
</div>


<img class= "kidsox" src="images/kidsox.jpg" alt="">
<img class="soxh" src="images/soxh.jpg" alt="">


<img class="boysox" src="images/image.jpg" alt="">

<footer>


</footer>


<!-- </div> -->
